<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="author" content="DZ3 Design e Tecnologia">
    <meta name="description" content="Sistema de Gerenciamento de Provas e Simulados do Colégio Ciências Aplicadas">
    <meta name="keywords" content="ciências, aplicadas, ciencias, aplicadas, site, website, natal, rio, grande, do, norte">

    <title>Ciências Aplicadas</title>

    <!-- styles -->
    <link href="/assets@admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets@admin/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/assets@admin/vendor/animate/animate.css" rel="stylesheet">

    <!-- styles::additional -->
    <link href="/assets@admin/vendor/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="/assets@admin/vendor/chosen/chosen.css" rel="stylesheet">
    <link href="/assets@admin/vendor/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/assets@admin/vendor/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/assets@admin/vendor/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/assets@admin/vendor/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/assets@admin/vendor/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="/assets@admin/vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/assets@admin/vendor/dropzone/dropzone.css" rel="stylesheet">

    <!-- styles::main -->
    <link href="/assets@admin/styles/main.css" rel="stylesheet">

    <!-- csrf -->
    <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <%= render '/layouts/side_menu' %>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <%= render '/layouts/header' %>
            </div>
            <div id="page">
                <%= yield %>
                <div class="footer">
                    <p class="pull-right">produzido por <strong>DZ3</strong>.</p>
                    <p class="pull-left"><strong>Copyright</strong> CCA+ Provas e Simulados © 2014-2015</p>
                </div>
            </div>
        </div>
    </div>

    <!-- scripts -->
    <script src="/assets@admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets@admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets@admin/vendor/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets@admin/vendor/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- <script src="/assets@admin/vendor/pace/pace.min.js"></script> -->

    <!-- scripts::additional -->
    <script src="/assets@admin/vendor/jasny/jasny-bootstrap.min.js"></script>
    <script src="/assets@admin/vendor/chosen/chosen.jquery.js"></script>
    <script src="/assets@admin/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="/assets@admin/vendor/validate/jquery.validate.min.js"></script>
    <script src="/assets@admin/vendor/datapicker/bootstrap-datepicker.js"></script>
    <script src="/assets@admin/vendor/dataTables/jquery.dataTables.js"></script>
    <script src="/assets@admin/vendor/dataTables/dataTables.bootstrap.js"></script>
    <script src="/assets@admin/vendor/dataTables/dataTables.responsive.js"></script>
    <script src="/assets@admin/vendor/dataTables/dataTables.tableTools.min.js"></script>
    <script src="/assets@admin/vendor/nestable/jquery.nestable.js"></script>
    <script src="/assets@admin/vendor/dropzone/dropzone.js"></script>
    <script src="/assets@admin/bower_components/highcharts/highcharts.js"></script>

    <!-- scripts::main -->
    <script src="/assets@admin/scripts/main.min.js"></script>

    <!-- scripts::page specific -->
    <%= yield :javascript %>

    <!-- scripts::alert -->
    <% if notice %>
    <% status = flash[:status] ? flash[:status] : "success" %>
    <script>
        $(document).ready(function() {
            swal({
                title: "<%= status == "success" ? "Pronto!" : "Ops!" %>", text: "<%= notice %>", type: "<%= status %>",
            });

        })
        </script>
    <% end %>

    <!-- scripts::google analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61454470-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- scripts::rails -->
    <%= javascript_include_tag 'application' %>
</body>
</html>
